.footer {
  background-color: $color-primary;
  color: white;
  &_icon {
    width: 2rem !important;
  }
  &_contact {
    width: 50%;
  }
  &_heading {
    font-family: $font-bold;
    color: $text-link;
  }
  &_copyright {
    text-transform: uppercase;
  }
  &_link {
    text-transform: uppercase;
    color: $text-link;
    text-decoration: underline;
    transition: all 0.2s;
    &:hover {
      color: white;
    }
  }
  &_media img {
    width: 3rem;
  }
  &_media_linkedin {
    fill: $color-primary;
  }
}
